body {
  margin: 0;
  font-family: "General Sans", sans-serif;
  background-image: url(billeder/baggrund.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer p {
  overflow: hidden;
  color: white;
}
header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  overflow-x: auto;
}

.logo h1,
header nav ul li a {
  font-family: "General Sans", sans-serif;
}

a {
  text-decoration: none;
}

.logo h1 {
  font-weight: 450;
  color: #fff;
  font-size: 2rem;
}

h2 {
  font-size: 4cm;
  color: white;
  font-family: "General Sans", sans-serif;
  font-weight: 350;
  text-align: center;
  padding-top: 1.2cm;
}

.footer {
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: small;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: lightgray;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 70%;
    width: 29%;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }

  .logo h1 {
    font-size: 1.6rem;
    font-weight: 450;
    color: #fff;
  }

  h2 {
    font-size: 1cm;
    color: white;
    font-family: "General Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 1.8cm;
  }

  body {
    margin: 0;
    font-family: "General Sans", sans-serif;
    background-image: url(billeder/mobilbaggrund.webp);
    background-repeat: no-repeat;
  }
  h2 {
    font-size: 1.5cm;
    color: white;
    font-family: "General Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 4.6cm;
  }
}
