header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  overflow-x: auto;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 30;
  text-align: end;
}
header nav ul li a:hover {
  color: lightgray;
}

a {
  text-decoration: none;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: lightgray;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
.logo h1,
header nav ul li a,
h1,
h3 {
  font-family: "General Sans", sans-serif;
}

.logo h1 {
  font-weight: 450;
  color: #000000;
  font-size: 2rem;
}

.burger-menu {
  cursor: pointer;
  display: none;
  flex-direction: column;
  position: relative; /* Add this line to make positioning relative to the parent */
  left: 98px;
  bottom: 17px;
  z-index: 1000;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #000000;
  margin: 3px 0;
}

h1 {
  font-size: 1.6cm;
  text-align: center;
  font-weight: 100;
}

.footer p {
  text-align: center;
  margin-top: 6%;
  margin-bottom: 1%;
  font-size: small;
  font-weight: 100;
}
/*CSS til Om mig*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
}

.ommig img {
  width: 100%;
  filter: grayscale(1) brightness(0.8);
}

.ommig img:hover {
  filter: grayscale(0);
}

.container2,
.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.container2 img,
.container3 img {
  width: 100%;
  max-width: 440px;
  filter: grayscale(2) brightness(0.9);
}

.container2 img:hover,
.container3 img:hover {
  filter: grayscale(0);
}

.container3 {
  padding-top: 2%;
}

h3 {
  text-align: center;
  font-weight: 400;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.text1 {
  padding: 2%;
  line-height: 350%;
  padding-left: 5.5%;
}

.text1 p {
  text-align: center;
}

.text2 p {
  text-align: justify;
}

/* 
PORTFOLIO*/
.section_grid_1-2,
.section_grid2,
.section_grid3,
.section_grid4 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.col2 h1 {
  text-align: right;
  padding-right: 20%;
  font-size: 1.2cm;
  text-decoration: none;
  color: #000000;
}

.col2 h1:hover,
.col h1:hover {
  color: lightgray;
}
.col h1 {
  text-align: right;
  padding-right: 40%;
  font-size: 1.2cm;
  text-decoration: none;
  color: #000000;
}

/*Tema 2 */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-width: 1200px;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}

img {
  width: 100%;
}

.grid img {
  max-width: 503px;
  padding-top: 4rem;
  filter: grayscale(2) brightness(0.9);
}

.grid img:hover,
.farve:hover {
  filter: grayscale(0);
}

p a {
  text-decoration: underline;
  color: #000000;
}

.link p {
  text-align: center;
}
p a:hover {
  color: lightgray;
}

.grid p {
  font-size: 1.1rem;
  line-height: 180%;
  margin-top: 9%;
  max-width: 500px;
  text-align: justify;
}

/* Tema 3 */

.styletile img,
.userstory img,
.wireframes img,
.brugertest img {
  max-width: 1100px;
  filter: grayscale(2) brightness(0.9);
}

.styletile img:hover,
.userstory img:hover,
.wireframes img:hover,
.brugertest img:hover {
  max-width: 1100px;
  filter: grayscale(0);
}

.styletile,
.userstory,
.wireframes,
.brugertest {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-width: 1200px;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}

.grid2 img {
  max-width: 500px;
  filter: grayscale(2) brightness(0.9);
}

.grid2 img:hover {
  filter: grayscale(0);
}
/*tema 5*/
.farve {
  max-width: 1100px;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
  filter: grayscale(2) brightness(0.9);
}

/* arrow css */
.span1,
.span2 {
  position: fixed;
  font-size: 3vw; /* Use viewport width (vw) for responsive font size */
  color: #000000;
}

.span2 {
  top: 90%; /* Adjust this value to change the distance from the top */
  right: 5%; /* Adjust this value to change the distance from the right */
}

.span1 {
  top: 90%; /* Adjust this value to change the distance from the top */
  left: 5%; /* Adjust this value to change the distance from the left */
}

.span1:hover,
.span2:hover {
  color: lightgray;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 70%;
    width: 29%;
    background-color: white;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }
  .logo h1 {
    font-size: 1.6rem;
    font-weight: 450;
  }

  /*om mig*/
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .col2 h1,
  .col h1 {
    font-size: 1.6em;
  }

  .col2 {
    margin-top: 5%;
  }

  .col h1 {
    margin-top: 23%;
  }

  .footer p {
    margin-top: 31%;
  }

  .ommig img {
    margin-top: 4rem;
    max-width: 300px;
  }

  .ommig {
    margin: 0%;
    padding: 0%;
  }
  .text1 h3 {
    font-size: 0.8rem;
    line-height: 130%;
  }

  .text1 p {
    font-size: 0.7rem;
    line-height: 130%;
  }
  .h3 h3 {
    font-size: 1rem;
  }
  a {
    font-size: small;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid p {
    font-size: 0.8rem;
    margin: 0%;
    padding: 0%;
  }

  .span1,
  .span2 {
    font-size: 5vw; /* Adjust the font size for smaller screens */
  }
  .grid img {
    padding-top: 1.5rem;
    width: 100%;
  }

  .grid,
  .grid2,
  .styletile img,
  .userstory img,
  .brugertest img,
  .wireframes img,
  .farve {
    max-width: 300px;
  }
}

.link p {
  max-width: 300px;
  font-size: 0.8rem;
  margin: 0 auto;
  text-align: center;
  line-height: 180%;
}

@media only screen and (min-width: 600px) and (max-width: 1100px) {
  .grid,
  .grid2,
  .styletile img,
  .userstory img,
  .brugertest img,
  .wireframes img,
  .farve {
    max-width: 690px;
    gap: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .grid p {
    font-size: 0.8rem;
  }

  .container p {
    font-size: 1rem;
    line-height: 180%;
  }

  .tekst2 p {
    font-size: 1rem;
    line-height: 130%;
  }

  .text1 {
    padding-top: 0%;
    padding-left: 5.5%;
    line-height: normal;
  }
}
